// @import '../font/iconfont.css';

ul, li {
  list-style: none;
}

body, html, .appContainer, #app{
  width: 100%;
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}

.f-normal {
  display: flex;
  align-items: center;
}

.f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.f-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  transition: color 0.3s ease-in-out;
}


